{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        [   "dotenv-import", {
            "moduleName": "@env",
            "path": ".env",
            "blacklist": null,
            "whitelist": null,
            "safe": false,
            "allowUndefined": false,
        }],
        [   "module-resolver", {
            "root": ["./src"]
        }],
    ]
}
